<div>
    <ng-container *ngIf="plans">
        <h3>Current plans:</h3>
        <table>
            <thead>
                <tr>
                    <th>Plan name</th>
                    <th>Start date</th>
                    <th>End date</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let plan of plans">
                    <td><a href="javascript:void(0)" routerLink="/view/{{plan.id}}">{{plan.name}}</a></td>
                    <td>{{plan.startDate}}</td>
                    <td>{{plan.endDate}}</td>
                    <td>{{plan.status}}</td>
                </tr>
            </tbody>
        </table>
    </ng-container>
    <button routerLink="/create">Create new plan</button>
</div>